### Steps to use dotenv:
#### Create .env file in your project root directory.
#### In .env file add your variables by writing the of your variable and its value like in a following example.
KEY=VALUE

